@font-face {
    font-family: 'Neuropol';
    src: url('/font/neuropol.ttf') format('truetype');
}

.root::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(11 55 90), rgb(155 184 99));
    background-repeat: no-repeat;
}


/* @media (max-width: 768px) {
    .root::before {
        background-size: 100px;
    }
} */