@import url('https://fonts.googleapis.com/css2?family=LXGW+Marker+Gothic&display=swap');

.root {
    font-family: 'LXGW Marker Gothic', sans-serif !important;
    font-weight: normal;
}

@media (max-width: 768px) {
    .root {
        &[data-order='1'] {
            font-size: 28px;
            line-height: 40px;
        }

        &[data-order='2'] {
            font-size: 28px;
            line-height: 40px;
        }
    }
}