@font-face {
    font-family: 'Nasalization';
    src: url('/font/nasalization.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.root {
    font-family: 'Nasalization' !important;
    font-weight: normal;
}

@media (max-width: 768px) {
    .root {
        &[data-order='1'] {
            font-size: 28px;
            line-height: 40px;
        }

        &[data-order='2'] {
            font-size: 28px;
            line-height: 40px;
        }
    }
}