.mapButton {
    font-size: 12px;

    @media (max-width: $mantine-breakpoint-md) {
        font-size: inherit;
    }
}

.mapButtonRoot {
    padding: .5em 1em !important;
}

.masonry {
    columns: 4;
    column-gap: 40px;

    @media (max-width: $mantine-breakpoint-lg) {
        columns: 3;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        columns: 2;
    }

    @media (max-width: 450px) {
        columns: 1;
    }
}

.masonry > * {
    break-inside: avoid;
    margin-bottom: 40px;
}