.heroTitle {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.05em;
}
@media (min-width: $mantine-breakpoint-sm) {
    .heroTitle {
        font-size: 80px;
        line-height: 86px;
    }
}
