name: Build Backend and Deploy

on:
    push:
        branches:
            - main
        paths:
            - "pb/**"

jobs:
    build:
        name: Build Image
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.PAT }}

            - name: Build and Push
              uses: docker/build-push-action@v5
              with:
                  push: true
                  context: pb
                  tags: |
                      ghcr.io/designunit/sosbor-backend:latest
